body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #e2dfd6;
}

#main{
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
}

label{
    display: block;
}

#submit{
    clear: both;
}
input{
    padding: 3px;
    border-radius: 4px;
    background-color: #e2dfd6;
}
select, textarea{
    background-color: #e2dfd6; 
}
textarea{
    width: 60%;
    height: 100px;
}